/* =============== Root variables =============== */

:root {
    --redColor: #bf4b27;
    --backgroundColor: #212121;
    --textColor: #818181;
    --navbarColor: #cc1c00;
    --extraColor: #353535;

}


/* =============== General =============== */

html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--backgroundColor);
}

body {
    font-size: 1.8rem;
    line-height: 1.7;
    margin: 0;
    /* IMP: margin was auto before nav tests*/
    background-image: url("./images/half_moon.png");
    background-repeat: no-repeat;
    background-position: top left;
}

header {
    padding: 0px;
    /* migrated */
    margin-top: 0px;
    /* migrated */
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

p {
    color: var(--textColor);
}

#pseudoLogo {
    float: left;
    width: 30%;
    margin-left: 15%;

}

#designedBy {
    color: var(--textColor);
    /* review later if it's brighter */

}


/* ============== Headings ================== */

h1 {
    margin-bottom: 0px;
    line-height: 50px;
    font-weight: 400;
    /* review if we need to import Verdana */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Verdana, 'Geneva', sans-serif;
    color: var(--redColor);
}


/* ============== Navigation ================== */

/* ======= Top navigation ======== */

nav {
    float: right;
}

.mainMenu li {
    background-color: transparent;
    display: inline-block;
    padding-right: 15px;
    
}

.mainMenu ul {
    margin: 0;
}

.mainMenu a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    /*padding: 80px 10px 10px 10px; */
    padding-top: 75px;
}

.mainMenu li a:hover {
    background-color: var(--navbarColor);
}

/* ACTIVE need to be review later */
.mainMenu li a:active {
    background-color: var(--navbarColor);
}

/* =================== Side navigation ==================== */

aside {
    float: right;
    width: 30%;
}

#rightMenu {}

#sitios ul {}

#acontecimentos ul {}

#arquivos ul {}

/* This li could be put all together */

#sitios li {
    list-style: none;
}

#acontecimentos li {
    list-style: none;
}

#arquivos li {
    list-style: none;
}

/* this "a" tags could be mentioned all together */
#sitios li a {
    text-decoration: none;
}

#acontecimentos li a {
    text-decoration: none;
}

#arquivos li a {
    text-decoration: none;
}

/* ============== Search bar and btn ================== */

#SearchForm {}

#searchBar {}

#searchBtn {}

/* ========================= Main Content ================== */

#mainContainer {
    clear: both;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}

main {
    float: left;
    width: 60%;}

section {
    
}

article {}

.postTitle {}

.postDate {}

.postedBy {}

.spanUser {}

/* span for inline text color */
.inlineColor {}

/* div for extra options in case needed for padding */

.extraOptions {}

/* option to see more - "Mais" */

.opMais {

    /* text color is white */
    text-decoration: none;
}

/* option to see Comments */

.opComments {

    /* text color is white */
    text-decoration: none;
}

/* =================== Footer ==================== */
/* maybe we dont need this on the css*/
footer {
    width: 700px;
    display: inline-block;
    clear: both;
    margin-left: auto;
    margin-right: auto;
    
    
}


/* inside footer */

/*#rodapeContainer {
    /* to add cizento escuro and margin ou padding 
    width: 700px;
    display: inline-block;
}*/

#extras {
    /* To add cizento claro */
   display: inline-block;
   align-items: center;
    justify-content: center;
}

.extraDivs { 
    float: left;
    width: 33%;

}
/*
#bemVindos {
    width: 33%;
}*/

#bemVindos h3 {
    /* imp: this title its white */
}
/*

#agradecimentos {
    width: 33%;
} */

#agradecimentos h3 {
    /* imp: this title its white */
}
/*
#ligacoesRecomendadas {
    width: 33%;
}*/

#ligacoesRecomendadas h3 {
    /* imp: this title its white */
}

#ligacoesRecomendadas ul {}

#ligacoesRecomendadas li {
    /* imp: this links are red */
    list-style: none;
}

#ligacoesRecomendadas li a {
    /*this links are red */
    text-decoration: none;
}

#rodape {
    /* review if the "p" inside it's smaller than the other p's */
}