/* =============== Root variables =============== */

    :root {
        --redColor: #bf4b27;
        --backgroundColor: #212121;
        --textColor: #818181;
        --navbarColor: #cc1c00;
        --extraColor: #353535;

    }


/* =============== General =============== */

    html {
        margin: 0px;
        font-family: Arial, Helvetica, sans-serif;
        background-color: var(--backgroundColor);
    }

    body {
        font-size: 1.8rem;
        /* Review later */
        margin: 0px;
        background-image: url("./images/half_moon.png");
        background-repeat: no-repeat;
        background-position: top left;
        background-size: 334px;
    }

    header {
        padding: 0px;
        margin-top: 0px;
        width: 700px;
        margin-left: auto;
        margin-right: auto;
    }

    p {
        color: var(--textColor);
    }

    #pseudoLogo {
        float: left;
        width: 30%;
        margin-left: 60px;
        margin-top: 30px;
    }

    #designedBy {
        font-size: medium;
        font-family: 'Times New Roman', Times, serif;
        color: #c6c4c2e0;
    }


/* ============== Global headings ================== */

    h1 {
        margin-bottom: 0px;
        font-weight: 400;
        line-height: 1.2;
        font-size: 30px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: Verdana, 'Geneva', sans-serif;
        color: var(--redColor);
    }


/* ============== Navigation ================== */

    /* ======= Top navigation ======== */

    nav {
        float: right;
    }

    .mainMenu li {
        background-color: transparent;
        display: inline-block;
        font-size: small;
    }

    .mainMenu ul {
        margin: 0;
    }

    .mainMenu a {
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        font-weight: 700;
        font-family: Arial, Helvetica, sans-serif;
        display: block;
        padding: 80px 10px 10px 10px; /* top right bottom left */
    }


    .mainMenu li a:hover {
        background-color: var(--navbarColor);
    }

    header .mainMenu a.activated {
        background-color: var(--navbarColor);
    }

    /* ======== Side navigation ======== */

    aside {
        margin-top: 90px;
        float: right;
        width: 200px; /* width was initially 30% */
    }

    #frasesContainer > p {
        font-size: x-small;
        line-height: 1.7;
    }

    #rightMenu {
        margin-left: 25px;
    }

    .rightMenuTitle {
        font-weight: 400;
        font-size: small;
    }

    .asideLists {
        padding-left: 12px;
        font-size: x-small;
        line-height: 2.5;
    }

    .asideLists li {
        list-style: none;
    }

    .asideLinks {
        color: var(--textColor);
        text-decoration: none;
    }

    .asideLinks:hover {
        color: var(--redColor);
    }

/* ============== Search bar and btn ================== */

    #searchForm {
        display: inline-block;
            width: max-content;
    }

    #searchBar {
        appearance: none;
        border-radius: 8px;
        border-color: var(--redColor);
        float: left;
        margin-right: 3px;
    }

    #searchBtn {
        appearance: none;
        float: right;
        padding: 1px 3px 1px 3px;
        border-radius: 6px;
        border-color: var(--redColor);
    }

    #searchBtn:hover {
        background-color: chocolate;
    }

/* ========================= Main Content ================== */

    #mainContainer {
        clear: both;
        margin-left: auto;
        margin-right: auto;
        width: 700px;
    }

    main {
        float: left;
        width: 490px; /* width was initially 60% */
        font-family: Arial, Helvetica, sans-serif;
    }

    section {
        font-family: Arial, Helvetica, sans-serif;
        margin-left: 60px;
    }

    .textContainer {
        text-align: justify;
        font-size: x-small;
        line-height: 1.7;
    }

    article {
        margin: 100px 0px 100px 0px;
    }

    .postTitle {
        margin-bottom: 0px;
        font-weight: 400;
        font-size: 22px;
    }

    .detailsContainer {
        margin-top: 0px;
        font-size: 16px;
        display: inline-block;
        font-size: small;
    }

    .postDate {
        float: left;
        padding-right: 115px;
    }

    .postedBy {
        float: right;
        text-align: start;
        padding-left: 115px;
    }

    /* span for inline text color */
    .spanUser, .inlineColor {
        color: var(--redColor);
    }

    .extraOptions {
        margin-top: 20px;
        font-size: x-small;
    }

    /* option to see more - "Mais" */

    .opMais {
        color: white;
        text-decoration: none;
        padding: 40px;
    }

    /* option to see Comments */

    .opComments {
        color: white;
        text-decoration: none;
    }

/* =================== Footer ==================== */

    #rodapeContainer {
        clear: both;
        background-color: #353535;
        margin-left: auto;
        margin-right: auto;
        padding-left: 25%;
        overflow: hidden;
    }

    .extraDivs {
        float: left;
        width: 20%;
        margin-left: 30px;
        margin-top: 2%;
        height: 180px;
        font-size: x-small;
    }

    .extrasTitles {
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 400;
        font-size: medium;
        
    }

    #ligacoesRecomendadas ul {
        padding-left: 20px;
        color: var(--textColor);
    }

    #ligacoesRecomendadas li {
        line-height: 1.7;
    }

    #ligacoesRecomendadas li a {
        text-decoration: none;
        color: var(--redColor);
    }

    #rodape {
        text-align: center;
        font-size: xx-small;
    }
